<% @title = "Real-time Admin Dashboard " + @zone_name %>

<% provide(:title, @title) %>

<%= javascript_include_tag "dashboard_realtime" %>
<!-- <script src="js/chartjs/chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js"></script>
<link href="/css/custom.css" rel="stylesheet">
<link href="/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="/admin" class="site_title"><i class="fa fa-paw"></i> <span>Hello!</span></a>
          </div>
          <div class="clearfix"></div>


          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2><%= current_user.name %></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Graphs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#entrancebar">Entrances Bar Chart</a></li>
                    <li><a href="#heatdate">Heatmap by Date</a>
                    </li>
                    <li><a href="#heatweekday">Heatmap by Weekday</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#raw_data"><i class="fa fa-table"></i> Raw data <span class="fa fa-chevron-down"></span></a>
                </li>
              </ul>
            </div>

            <!-- <div class="menu_section">
              <h3>Settings</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="e_commerce.html">E-commerce</a>
                    </li>
                    <li><a href="projects.html">Projects</a>
                    </li>
                    <li><a href="project_detail.html">Project Detail</a>
                    </li>
                    <li><a href="contacts.html">Contacts</a>
                    </li>
                    <li><a href="profile.html">Profile</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div> -->

          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt=""><%= current_user.name %>
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <!-- <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li> -->
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li>
                  <%= link_to destroy_user_session_path do %>
                    <i class="fa fa-sign-out pull-right"></i> Log Out
                    <% end %>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->


      <!-- page content -->
      <div class="right_col" role="main">

        <br />
        <div class="">

          <div class="row top_tiles">
          <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-tachometer"></i>
                </div>
                <div class="count current_occupancy"><%= @occupancy %></div>

                <h3>Current Occupancy</h3>
                <p><%= @updated_at %></p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-exchange"></i>
                </div>
                <div class="count entrance-count">...</div>

                <h3>Daily Entrances</h3>
                <p>Total Entrances: <span class="total_entrances"></span></p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-line-chart"></i>
                </div>
                <div class="count busiest_day">...</div>

                <h3>Busiest Day</h3>
                <p class="busiest_date"></p>
              </div>
            </div>
          </div>

          <div class="row" id="entrancebar"> <!-- Bar chart Area -->
            <div class="col-md-12 col-sm-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Facility Usage Summary <small>Weekly</small></h2>
                  <div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:100%;">
                      <!-- <div id="placeholder33x" class="demo-placeholder"></div> -->
                      <canvas id="barChart"></canvas>
                    </div>
                    
                    <!-- <div class="tiles">
                      <div class="col-md-4 tile">
                        <span>Total Sessions</span>
                        <h2>231,809</h2>
                        <span class="sparkline11 graph" style="height: 160px;">
                            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                        </span>
                      </div>
                      <div class="col-md-4 tile">
                        <span>Total Revenue</span>
                        <h2>$231,809</h2>
                        <span class="sparkline22 graph" style="height: 160px;">
                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                    </span>
                      </div>
                      <div class="col-md-4 tile">
                        <span>Total Sessions</span>
                        <h2>231,809</h2>
                        <span class="sparkline11 graph" style="height: 160px;">
                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                    </span>
                      </div>
                    </div> -->

                  </div>

                  

                </div>
              </div>
            </div>
          </div>

          <div class="row" id="heatdate">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>By Hour <small>Entrances</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div id="heatmapHour" class="hidden-sm hidden-xs"><!-- Plotly chart will be drawn inside this DIV -->
                  </div>
                  <div class="hidden-md hidden-lg">Heatmap only displayable on larger screen</div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" id="heatweekday">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>By Weekday <small>Entrances</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div id="heatmapWeekday" class="hidden-sm hidden-xs"><!-- Plotly chart will be drawn inside this DIV -->
                  </div>
                  <div class="hidden-md hidden-lg">Heatmap only displayable on larger screen</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="raw_data">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Download Raw Data <small>Entrances</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Entrances</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Javascript will insert data here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>    
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>


  </div>

  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- flot js -->
  <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.pie.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.orderBars.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.time.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/date.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.spline.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.stack.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/curvedLines.js"></script> -->
  <!-- <script type="text/javascript" src="js/flot/jquery.flot.resize.js"></script> -->
  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>
  <script src="js/datatables/jquery.dataTables.min.js"></script>
  <script src="js/datatables/dataTables.bootstrap.js"></script>
  <script src="js/datatables/dataTables.buttons.min.js"></script>
  <script src="js/datatables/buttons.bootstrap.min.js"></script>
  <script src="js/datatables/jszip.min.js"></script>
  <script src="js/datatables/pdfmake.min.js"></script>
  <script src="js/datatables/vfs_fonts.js"></script>
  <script src="js/datatables/buttons.html5.min.js"></script>
  <script src="js/datatables/buttons.print.min.js"></script>
  <!-- <script src="js/datatables/dataTables.fixedHeader.min.js"></script> -->
  <!-- <script src="js/datatables/dataTables.keyTable.min.js"></script> -->
  <script src="js/datatables/dataTables.responsive.min.js"></script>
  <script src="js/datatables/responsive.bootstrap.min.js"></script>
  <!-- <script src="js/datatables/dataTables.scroller.min.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>